body {
  background-image: url(http://cdn.zenfolio.net/img/s12/v184/t540615603-968807104-o886508183-145.jpg);
background-size: cover;
}
.container {
}
img {
  width: 300px;
}
img.wide {
  width: 800px;
}
